/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #111;
  font-family: Georgia, Times, 'Times New Roman', Serif;
  font-size: 18px;
  line-height: 22px;
}

p {
  margin: 1em 0;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed #333;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.home {
  font-family: 'Open Sans', sans-serif;
}

.me ul, .posts ul, .projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.me h1, .posts h1, .projects h1 {
  margin: 0;
  padding: 0;
}

.me {
  text-align: center;
  background-color: #111;
  color: #eee;
  margin: 0;
  padding: 12px;
}

  .me h1 {
    font-family: 'Bitter', serif;
    font-size: 72px;
    letter-spacing: 0;
    line-height: 72px;
    text-transform: uppercase;
  }

    .me ul {
      margin: 0;
    }

      .me ul li {
        display: inline;
        font: 28px 'QuicksandLight', Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin-left: 3px;
        -webkit-font-smoothing: antialiased;
      }

      .me ul .bold {
        font-weight: bold;
      }

  .posts h1, .projects h1 {
    font: 48px 'QuicksandLight', Arial, sans-serif;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }

  .posts {

  }

    .posts ul li {
      margin-bottom: 8px;
    }

      .posts ul li .title {
        margin-right: 5px;
        color: #000;
        font-weight: bold;
      }

      .posts ul li .date { 
        font-size: 12px;
        color: #777;
      }

      .posts ul li .snippet { 
        display: block;
        font-style: italic;
        font-size: 14px;
        color: #444;
      }

  .projects {
    display: none;
  }

/*****************************************************************************/
/*
/* Main
/*
/*****************************************************************************/

.main {
  max-width: 800px;
  margin: 20px auto;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Small screens
/*
/*****************************************************************************/

@media all and (max-width: 800px) {

  .me h1 {
    font-size: 42px;
    line-height: 42px;
  }

    .me ul li {
      display: inline;
      font-size: 16px;
    }
}