/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #111;
  font-family: Georgia, Times, 'Times New Roman', Serif;
  font-size: 18px;
  line-height: 22px;
}

p {
  margin: 1em 0;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed #333;
}

a:visited {
  color: #555;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.home {
  font-family: 'Open Sans', sans-serif;
}

.me ul, .posts ul, .projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.me h1, .posts h1, .projects h1 {
  margin: 10px 0;
  padding: 0;
}

.me {
  text-align: center;
  background-color: #111;
  color: #eee;
  margin: 0;
  padding: 12px;
}

  .me h1 {
    font-family: 'Bitter', serif;
    font-size: 72px;
    letter-spacing: 0;
    line-height: 72px;
    text-transform: uppercase;
  }

    .me ul {
      margin: 0;
    }

      .me ul li {
        display: inline;
        font: 28px 'QuicksandLight', Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin-left: 3px;
        -webkit-font-smoothing: antialiased;
      }

      .me ul .bold {
        font-weight: bold;
      }

  .posts, .projects {

  }

    .posts .content, .projects .content {
      max-width: 800px;
      margin: 0 auto;
      padding: 15px;
    }


    .posts h1, .projects h1 {
      font: 48px 'QuicksandLight', Arial, sans-serif;
      line-height: 40px;
      text-transform: uppercase;
      letter-spacing: -1px;
    }

  .posts {

  }

    .posts ul li {
      margin-bottom: 8px;
    }

      .posts ul li .title {
        margin-right: 5px;
        color: #000;
        font-weight: bold;
        line-height: 170%;
      }

        .posts ul li .title a {
          border-bottom: none;
        }

      .posts ul li .date { 
        font-size: 60%;
        color: #777;
      }

      .posts ul li .snippet { 
        display: block;
        font-style: italic;
        font-size: 80%;
        color: #444;
      }

  .projects {
    background-color: #111;
    color: #eee;
  }

    .projects ul li {
      width: 240px;
      display: inline-block;
      margin: 10px 20px 10px 0;
    }

      .projects ul li .thumbnail {
        /*box-shadow: #aaa 0px 2px 10px 1px;*/
        padding: 0;
        margin: 0;
        margin-bottom: 3px;
      }

        .projects ul li .thumbnail img {
          display: block;
          width: 240px;
          height: 160px;
        }

      .projects ul li .title {
        padding: 4px;
        font-weight: bold;
      }

      .projects ul li .description {
        font-size: 60%;
        line-height: 16px;
        padding: 2px;
        font-style: italic;
      }

/*****************************************************************************/
/*
/* Main
/*
/*****************************************************************************/

.main {
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Small screens
/*
/*****************************************************************************/

@media all and (max-width: 800px) {

  body {
    font-size: 85%;
  }

  .me h1 {
    font-size: 42px;
    line-height: 42px;
  }

    .me ul li {
      display: inline;
      font-size: 16px;
    }

  .posts h1, .projects h1 {
    font-size: 32px;
  }

}