/* --------------------------------------------------------------

   layout.css
   * Sets up site-specific layout styles

-------------------------------------------------------------- */

/* Divs
-------------------------------------------------------------- */

div .top-padding 			{ padding-top: 10px; }
div .top-padding-small		{ padding-top: 5px; }
div .bottom-padding 		{ padding-bottom: 10px; }
div .bottom-padding-small	{ padding-bottom: 5px; }

div .right-padding 			{ padding-right: 5px; }
div .right-padding-small	{ padding-right: 2px; }
div .left-padding 			{ padding-left: 5px; }
div .left-padding-small		{ padding-left: 2px; }

div .top-margin 			{ margin-top: 10px; }
div .top-margin-small		{ margin-top: 5px; }
div .bottom-margin 			{ margin-bottom: 10px; }
div .bottom-margin-small	{ margin-bottom: 5px; }

div .text-align-left	{ text-align: left; }
div .text-align-right	{ text-align: right; }
div .text-align-center	{ text-align: center; }

div .clickable { cursor: pointer; }

div .absolute		{ position: absolute; }
div .overlay-top	{ z-index: 10; }

div .clear { clear: both; }

ul { margin: 0; }

#site {
    margin: 0 auto;
    width: 700px;
}

#header {
    padding: 0;
    margin: 0;
    margin-bottom: .5em;
    margin-top: .5em;
    padding-bottom: 0.2em;
	position: relative;
	height: 2em;
}

#footer {
    text-align: center;
    width: 100%;
}

.context-nav,
ul.breadcrumbs {
    list-style-type: none;
    padding: 0;
    position: absolute;
}

.context-nav { right:0; }

.breadcrumbs li { display: inline; }
.breadcrumbs a {
    text-decoration: none;
}

.context-nav a {
}

.breadcrumbs a:hover { text-decoration: underline; }
.breadcrumbs .separator {
}

#sitename {
	text-align: left;
	position: absolute;
	left: 0;
	bottom: 0;
}

#sitename h3 {
    margin: 0;
}

#sitenav {
    text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
}

#sitenav ul { list-style-type: none; }

#sitenav li {
    display: inline;
    margin-left: .2em;
}

#sitenav a {
    padding: 0.2em;
}

#sitenav .selected a {
	color: black;
	font-weight: bold;
}

#content-header{
    padding-bottom:.5em;
}

#content-header h1{
    margin-bottom:.5em;
}

.post-date{
    float:right;
    font-style:italic;
    font-size:.8em;
    
}

#splash{
	text-align: center;
}

#splash h1{
	color: #444;
}