/* --------------------------------------------------------------

   layout.css
   * Sets up site-specific layout styles

-------------------------------------------------------------- */

/* Divs
-------------------------------------------------------------- */

#site {
    margin: 0 auto;
    width: 750px;
}

#header {
    padding: 0;
    margin: 0;
    margin-bottom: .5em;
    margin-top: .5em;
    padding-bottom: 0.2em;
	position: relative;
	height: 2em;
}

#footer {
    text-align: center;
    width: 100%;
}

.context-nav,
ul.breadcrumbs {
    list-style-type: none;
    padding: 0;
    position: absolute;
}

.context-nav { right:0; }

.breadcrumbs li { display: inline; }

#sitename {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align: left;
	position: absolute;
	left: 0;
	bottom: 0;
}

#sitename h3 {
    margin: 0;
}

#sitenav {
    text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
}

#sitenav ul { margin: 0; list-style-type: none; }

#sitenav li {
    display: inline;
    margin-left: .2em;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#sitenav a {
    padding: 0.2em;
}

#sitenav .selected a {
	color: black;
	font-weight: bold;
}

#post-title h1{
    margin-bottom:10px;
}

#post-date{
    text-align: left;
    font-style:italic;
    font-size:1em;
    color: #555;
    margin-bottom: 20px;
}

#splash{
	text-align: center;
}

#splash h1{
	color: #333;
    font-family: 'Crimson Text', serif;
    font-size: 3em;
}

#content {
    margin: 0;
}

#footer p{
    font-style:italic;
    font-size: 1em;
}

.section-listing ul {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.section-listing ul li {
    margin-bottom: 20px;
}

.listing-item-title {
    font-size: 22px;
}

.listing-item-snippet {
    font-size: 18px;
    font-style: italic;
}

.image-and-caption {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.image-and-caption img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
}

#follow-me {
    margin-top: 25px;
}

#share-the-love{
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
}

#share-the-love div{
    display: inline;
}

#share-the-love-text {
    float: left;
}

#share-the-love-text p{
    display: inline;
}

#share-buttons {
    float: right;
}

#disqus_thread{
    margin-top: 25px;
}

p img {
    display: block;
}


/* Taken from http://caolanmcmahon.com/media/style.css */

pre, code {
    font-family: monospace;
    font-size: 16px;
    /*color: #22252a;*/
    /*color: #222;*/
    color: #000;
    line-height: 150%;
    background-color: #F4F4F4;
}

pre {
    padding: 1.4em 0 1.4em 1.8em;
    /*margin: 2.8em 0;*/
    margin: 2.8em 0;
    /*border-left: 2px solid #ccc;*/
    border-left: 2px solid #444;
    /*background-color: #e6e6e6;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e6e6e6), color-stop(1, #ebebeb));
    background-image: -moz-linear-gradient(left center, #e6e6e6 0%, #ebebeb 100%);*/
    overflow: auto;
}