/* --------------------------------------------------------------

   layout.css
   * Sets up site-specific layout styles

-------------------------------------------------------------- */

/* Divs
-------------------------------------------------------------- */

#site {
    margin: 0 auto;
    margin-top: 18px;
}

.breadcrumbs li { display: inline; }

#info {
	text-align: right;
	margin-left: auto;
	width: 230px;
}

#name {
	margin-bottom: 12px;
}

#name .first span {
	color: #444;
	font-family: ‘Arial Narrow’, sans-serif;
	text-transform: uppercase;
	font-size: 38px;
	margin-left: 10px;
	font-weight: 100;
}

#name .last span {
	display: inline-block;
	margin-left: 13px;
	background: #444;
	border-radius: 11px;
	width: 22px;
	height: 22px;
	font-family: Verdana, Geneva, sans-serif;
	color: #eee;
	text-align: center;
	line-height: 18px;
}

#picture img {
	width: 75px;
	height: 75px;
	border-radius: 5px;
	box-shadow: 0 0 10px #aaa;
}

#social {
	display: inline-block;
	float: right;
	margin-left: 10px;
	margin-top: 24px;
	margin-bottom: 10px;
}

#social span {
	margin-left: 5px;
}

#social img {
	opacity: 0.6;
	width: 25px;
	height: 25px;
}
#social img:hover {
	opacity: 1;
}

#navigation {
	margin-top: 40px;
}

#navigation a {
	display: inline-block;
	margin-bottom: 5px;
	padding: 3px 5px;
	
	font-size: 14px;
	color: #fff;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	
	opacity: 0.8;
}

#navigation a:hover,
#navigation a.selected {
	opacity: 1;
}

#navigation .home {
	background: #6FBF4D;
}

#navigation .blog {
	background: #1693A7;
}

#navigation .projects {
	background: #E6781E;
}

#navigation .about {
	background: #CC0C39;
}

#post-title h1{
    margin-bottom:10px;
}

#post-title h4{
    margin-top:0px;
}

#post-date{
    text-align: left;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    font-family: 'Copperplate Gothic Light', sans-serif;
}

#splash {
	background: #FCFEFF;
	padding: 40px 20px;
	-moz-box-shadow: inset 0 0 5px #999;
	-webkit-box-shadow: inset 0 0 5px #999;
	box-shadow: inner 0 0 5px #999;
	border-radius: 5px;
}

#splash p {
	color: #444;
    font-size: 34px;
    font-family: 'Glegoo', serif;
    text-align: center;
    text-shadow: 1px 1px 1px #ccc;
}
#splash p.last {
	margin-bottom: 0;
}

#notifications {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	padding: 0;
	text-align: center;
	background: orange;
}

#notifications h4 {
    display: inline-block;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	font-size: 1em;
    color: #444;
}

#notifications h4.important {
    font-weight: bold;
    color: #5294D5;
}

#notifications .close {
	position: absolute;
	right: 10px;
	top: 7px;
	font-size: .9em;
	color: #fff;
}

#content {
    margin: 0;
}

.section-listing h3 {
	border-bottom: none;
}

.section-listing ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.section-listing ul li {
    margin-bottom: 20px;
}

.listing-item-title, .listing-item-snippet {
	font-family: Helvetica, sans-serif;
}

.listing-item-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 4px;
}

.listing-item-snippet {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
}

.full-pane {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.image-and-caption {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.image-and-caption img, 
.image-and-cation div
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
}

.stack {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.stack div {
    display: block;
    margin-bottom: 5px;
}

#follow-me {
	background: #45AAB8;
    padding: 10px;
}

#follow-me-button {
	display: inline-block;
	width: 120px;
	overflow: none;
	margin-top: 3px;
}

#share-the-love {
	background: #6FBF4D;
    padding: 10px;
}

#follow-me, #share-the-love {
	-moz-box-shadow: inset 0 0 5px #555;
	-webkit-box-shadow: inset 0 0 5px #555;
	box-shadow: inner 0 0 5px #555;
	margin-bottom: 5px;
	text-align: center;
	
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	color: white;
}

#share-the-love p, #follow-me p {
	margin: 0;
}

#share-the-love a, #follow-me a {
	color: white;
	border-bottom: 1px dotted white;
}

#share-buttons{
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	-moz-box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px #333;
	box-shadow: 0 0 5px #333;
	border-radius: 3px;
}

#share-buttons {
	width: 182px;
	padding: 5px;
	padding-top: 10px;
}

#share-buttons a {
	border-bottom: none;
}

#share-buttons a.addthis_button_tweet {
	margin-right: 7px;
}
#share-buttons a.addthis_button_google_plusone {
	margin-top: 2px;
}

#disqus_thread {
    margin-top: 30px;
    padding: 20px;
	-moz-box-shadow: inset 0 0 5px #999;
	-webkit-box-shadow: inset 0 0 5px #999;
	box-shadow: inner 0 0 5px #999;
}

#disqus_thread {
	font-family: Helvetica, sans-serif;
}
#disqus_thread h3 {
	font-size: 18px;
}
.dsq-comment-text {
	font-size: 14px;
}


p img {
    display: block;
}

.clear {
    clear: both;
}

.text-align-center {
    text-align: center;
}

hr {
    border: 0;
    color: #aaa;
    background-color: #aaa;
    height: 1px;
}

/* Taken from http://caolanmcmahon.com/media/style.css */

pre, code {
    font-family: monospace;
    font-size: 16px;
    /*color: #22252a;*/
    /*color: #222;*/
    color: #000;
    line-height: 150%;
    background-color: #F4F4F4;
}

pre {
    padding: 1.4em 0 1.4em 1.8em;
    /*margin: 2.8em 0;*/
    margin: 2.8em 0;
    /*border-left: 2px solid #ccc;*/
    border-left: 2px solid #444;
    /*background-color: #e6e6e6;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e6e6e6), color-stop(1, #ebebeb));
    background-image: -moz-linear-gradient(left center, #e6e6e6 0%, #ebebeb 100%);*/
    overflow: auto;
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, (max-width: 767px) {

	#splash p {
		font-size: 22px;
	}
	
	h1 {
		font-size: 30px;
	}
	
	h3 {
		font-size: 26px;
	}
	
	
	#header {
		height: auto;
	}
	
	#sitename {
		position: relative;
		margin-bottom: 10px;
	}
	
	#sitenav {
		position: relative;
		text-align: left;
		margin-bottom: 0;
	}
	
	#sitenav ul {
		padding-left: 0;
	}
	
	#sitenav li {
		font-size: .9em;
	}
	
	#content {
		padding-top: 15px;
	}
	
	#info {
		text-align: center;
		margin: auto;
	}
	
	#navigation {
		margin-top: 15px;
	}

	#navigation div {
		display: inline-block;
	}

}