/* --------------------------------------------------------------

	uielements.css
	* Gives classes to create UI elements rapidly

-------------------------------------------------------------- */

/*	Buttons
-------------------------------------------------------------- */

/*	For use with the <a> tag */
.download-button {
	display:inline-block;
	width:193px;
	height:43px;
	background:url({{site.url}}/media/images/buttons/download-button.png) no-repeat;
	font-size:15px;
	text-align:center;
	color:#000;
	font-size:20px;
	line-height:40px;
	text-shadow:none;
	padding:0 0 0 0;
}

.button {
	display:inline-block;
	width:193px;
	height:43px;
	background:url({{site.url}}/media/images/buttons/button.png) no-repeat;
	font-size:15px;
	text-align:center;
	color:#000;
	font-size:20px;
	line-height:40px;
	text-shadow:none;
	padding:0 0 0 0;
}