{% extends "skeleton/_root.html" %}

{% block all %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="no-js">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<!-- TipTheWeb -->
		<meta name="ttw" content="7z32vk8" />

		<!--  Mobile Viewport Fix
		j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
		device-width : Occupy full width of the screen in its current orientation
		initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
		maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
		-->
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

		<!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="{{site.url}}/media/images/favicon.ico">
		<link rel="apple-touch-icon" href="{{site.url}}/media/images/apple-touch-icon.png">

		<!-- Google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lora:400italic' rel='stylesheet' type='text/css'>

		<!-- For the less-enabled mobile browsers like Opera Mini -->
		<link rel="stylesheet" media="handheld" href="{{site.url}}/media/css/handheld.css?v=1">

		<link rel="stylesheet" href="{{site.url}}/media/css/columnal/columnal.css" />

		<link rel="stylesheet" href="{{site.url}}/media/css/typography.css" />
		<link rel="stylesheet" href="{{site.url}}/media/css/colors.css" />
		<link rel="stylesheet" href="{{site.url}}/media/css/forms.css" />
		<link rel="stylesheet" href="{{site.url}}/media/css/uielements.css" />
		<link rel="stylesheet" href="{{site.url}}/media/css/layout.css" />

		<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
		<script src="{{site.url}}/media/js/modernizr-1.5.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

		{% block feeds %}

        <link href="{{site.url}}/blog/feed.xml" rel="alternate" title="The Blog of Chetan Surpur" type="application/atom+xml"/>

		{% endblock %}

		{% block css %}

		{% block extra_css %}
		{% endblock %}

		{% endblock %}
		
		{% block js %}
		<script type="text/javascript" src="{{site.url}}/media/js/notifications.js"></script>

		{% block extra_js %}
		{% endblock %}

		{% endblock %}

		<title>
			{% block title %}
            {% if page.title != 'Home' %}
                {{page.title}} | 
            {% endif %}
            {{site.name}}
			{% endblock %}
		</title>

        <!-- Google Analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-19071552-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
	</head>
	<body>
		<div id="site" class="container">	
			<div class="row">
				<div id="info" class="col_3">
					<div id="name">
						<div class="first">
							<span>c</span>
							<span>h</span>
							<span>e</span>
							<span>t</span>
							<span>a</span>
							<span>n</span>
						</div>
						<div class="last">
							<span>s</span>
							<span>u</span>
							<span>r</span>
							<span>p</span>
							<span>u</span>
							<span>r</span>
						</div>
					</div>
					<div>
						<span id="picture"><img src="{{site.url}}/media/images/chetan.jpg"></span>
						<span id="social">
							<span id="twitter"><a href="http://twitter.com/"><img src="{{site.url}}/media/images/icons/twitter.png"></a></span>
							<span id="linkedin"><a href="http://linkedin.com/"><img src="{{site.url}}/media/images/icons/linkedin.png"></a></span>
							<span id="gmail"><a href="http://linkedin.com/"><img src="{{site.url}}/media/images/icons/gmail.png"></a></span>
							<span id="rss"><a href="http://rss.com/"><img src="{{site.url}}/media/images/icons/rss.png"></a></span>
						</span>
					</div>
					<div id="navigation">
						<div><span class="sticker"><a class="home{% ifequal page.title 'Home' %} selected{% endifequal %}" href="{{site.url}}">Home</a></span></div>
						<div><span class="sticker"><a class="blog{% ifequal page.module.name 'blog' %} selected{% endifequal %}" href="{{site.url}}/blog">Blog</a></span></div>
						<div><span class="sticker"><a class="projects{% ifequal page.module.name 'projects' %} selected{% endifequal %}" href="{{site.url}}/projects">Projects</a></span></div>
						<div><span class="sticker"><a class="about{% ifequal page.title 'About' %} selected{% endifequal %}" href="{{site.url}}/about.html">About</a></span></div>
					</div>
				</div>
				<div class="col_6 suf_3 last">
					<div id="content" >
						<!--
						<div id="sitenav">
							<ul>
								<li {% ifequal page.title 'Home' %}class="selected"{% endifequal %}>
									<a href="{{site.url}}/">Home</a>
								</li> 

								<li {% ifequal page.module.name 'blog' %}class="selected"{% endifequal %}>
									<a href="{{site.url}}/blog">Blog</a>
								</li>

								<li {% ifequal page.module.name 'projects' %}class="selected"{% endifequal %}>
									<a href="{{site.url}}/projects">Projects</a>
								</li>

								<li {% ifequal page.title 'About' %}class="selected"{% endifequal %}>
									<a href="{{site.url}}/about.html">About</a>
								</li>

								<li {% ifequal page.title 'Feed' %}class="selected"{% endifequal %}>
									<a href="http://feeds.feedburner.com/TheBlogOfChetanSurpur">Feed</a>
								</li>
							</ul>
						</div>
						-->

					    {% block notifications %}
					    {% endblock %}

					    {% block content %}{% endblock %}
			    
					    {% block promote_me %}{% endblock %}

					    {% block disqus %}{% endblock %}
					</div>
				</div>
			</div>
		</div>

        {% block disquscommentcount %}{% endblock %}
	</body>
</html>

{% endblock %}