{% extends "skeleton/_root.html" %}

{% block all %}

<div class="context-nav">
    <div class="context-nav-prev">
        {%if page.next_in_module%}
            <a href="{{page.next_in_module.url}}">&laquo; {{page.next_in_module.title}}</a>
        {%endif%}
    </div>
    <div class="context-nav-next">
        {%if page.prev_in_module%}
            <a href="{{page.prev_in_module.url}}">{{page.prev_in_module.title}} &raquo;</a>
        {%endif%}
    </div>
    <div class="clear"></div>
</div>

{% endblock %}