<div id='footer'>

{% markdown %}

Find me on [GitHub](http://github.com/chetan51), [Twitter](http://twitter.com/chetan51), and [LinkedIn](http://www.linkedin.com/pub/chetan-surpur/16/abb/a4a). If you want to reach me, shoot me an <a href="http://www.google.com/recaptcha/mailhide/d?k=01A-_FCcB3jCTN6-D9beq73g==&amp;c=QUnaM8NiTANuw9ydVK8MXa7Di209vCEq6jOVZLr7vf4=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501A-_FCcB3jCTN6-D9beq73g\75\75\46c\75QUnaM8NiTANuw9ydVK8MXa7Di209vCEq6jOVZLr7vf4\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">email</a>.

{% endmarkdown %}

</div>
