<hr>

<div id='footer'>

{% markdown %}

Find me on [Github](http://github.com/chetan51), [Twitter](http://twitter.com/chetan51), and [LinkedIn](http://www.linkedin.com/pub/chetan-surpur/16/abb/a4a). If you want to reach me, shoot me an <script language="Javascript" type="text/javascript">
<!--
document.write('<a href="mai');
document.write('lto');
document.write(':&#99;&#104;&#101;&#116;&#97;&#110;&#46;&#115;&#117;&#114;&#112;&#117;&#114;');
document.write('@');
document.write('&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">');
document.write('email<\/a>.');
// -->
</script><noscript><p>email to &#99;&#104;&#101;&#116;&#97;&#110;&#46;&#115;&#117;&#114;&#112;&#117;&#114; at 
&#103;&#109;&#97;&#105;&#108; dot &#99;&#111;&#109;.</p></noscript>

{% endmarkdown %}

</div>
