<div id='footer'>

{% markdown %}

Find me on [Github](http://github.com/chetan51), [Twitter](http://twitter.com/chetan51), and [LinkedIn](http://www.linkedin.com/pub/chetan-surpur/16/abb/a4a). If you want to reach me, shoot me an <a href="http://www.google.com/recaptcha/mailhide/d?k=013uAzv_EZmxf6SVeacZkvDQ==&amp;c=WvXDn1Nv8tcgdauJbSgqivKWfg6yVTH7MsyqkIyMm54=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\075013uAzv_EZmxf6SVeacZkvDQ\75\75\46c\75WvXDn1Nv8tcgdauJbSgqivKWfg6yVTH7MsyqkIyMm54\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">email</a>.

{% endmarkdown %}

</div>
