{% extends "skeleton/_root.html" %}

{% block all %}

<div class="navigation">
	<div><a class="home{% ifequal page.title 'Home' %} selected{% endifequal %}" href="{{site.url}}/">home</a></div>
	<div><a class="blog{% ifequal page.module.name 'blog' %} selected{% endifequal %}" href="{{site.url}}/blog">blog</a></div>
	<div><a class="projects{% ifequal page.module.name 'projects' %} selected{% endifequal %}" href="{{site.url}}/projects">projects</a></div>
	<div><a class="resume{% ifequal page.title 'Resume' %} selected{% endifequal %}" href="{{site.url}}/media/pdf/resume.pdf">resume</a></div>
</div>

{% endblock %}
