{% extends "skeleton/_root.html" %}

{% block all %}

<div id="sitenav">
    <ul>
		<li {% ifequal page.title 'Home' %}class="selected"{% endifequal %}>
			<a href="{{site.url}}/">Home</a>
		</li> 

        <li {% ifequal page.module.name 'blog' %}class="selected"{% endifequal %}>
            <a href="{{site.url}}/blog">Blog</a>
        </li>

        <li {% ifequal page.module.name 'projects' %}class="selected"{% endifequal %}>
            <a href="{{site.url}}/projects">Projects</a>
        </li>

        <li {% ifequal page.title 'About' %}class="selected"{% endifequal %}>
            <a href="{{site.url}}/about.html">About</a>
        </li>

        <li {% ifequal page.title 'Feed' %}class="selected"{% endifequal %}>
            <a href="http://feeds.feedburner.com/TheBlogOfChetanSurpur">Feed</a>
        </li>
    </ul>
</div>

{% endblock %}