{% extends "_staticpage.html" %}

{% hyde
    title: "About"
%}

{% block article %}

Hello, my name is Chetan Surpur. I'm a third year Electrical Engineering and Computer Science major at UC Berkeley. This is my website.

Find me on [Github](http://github.com/chetan51), [Twitter](http://twitter.com/chetan51), and [LinkedIn](http://www.linkedin.com/pub/chetan-surpur/16/abb/a4a). If you want to reach me, shoot me an [email](mailto:chetan.surpur@gmail.com).

### About this site ###

This website is made in [Hyde](http://github.com/lakshmivyas/hyde), and some of the design and code is inspired by [stevelosh.com](http://stevelosh.com/). You can find the source code for the website on [Github](http://github.com/chetan51/chetansurpur).

{% endblock %}
