{% extends "skeleton/_base.html"%}

{%hyde
    title: Projects
%}

{% block github_banner %}
<a href="http://github.com/chetan51"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>
{% endblock %}

{% block content %}

	<div id="content-header">
		<h1>{{ page.title }}</h1>
	</div>

    <div class="section-listing">
        <div class="text-align-center">
            <h3>Out In The Wild</h3>
        </div>
        <ul>
            <li>
                <div class="listing-item-title">
                    <a href="sidestep">
                        Sidestep
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        Automatically secure your Internet connection in unprotected wireless networks.
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                    <a href="http://babble.im">
                        Babble IM
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        Watch-as-I-type chat, an experiment using <a href="http://meteor.com">Meteor</a>.
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                    <a href="http://checkpointtimer.com/">
                        Checkpoint Timer
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                      Timer for the <a href="http://chetansurpur.com/blog/2011/12/checkpoint-method.html">Checkpoint Method</a>, a productivity tactic to supercharge your day.
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                    <a href="http://othermind.me/">
                        OtherMind
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        The fastest way to take notes and make lists.
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                    <a href="http://timeslot.me/">
                        Timeslot
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        Planning your day, hour by hour, is now a breeze.
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                    <a href="http://chetan51.github.com/panels/hacker/">
                        Hacker Panel & Reddit Panel
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        Bookmarklets to pull up or start the Hacker News or Reddit discussions for any web page.
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                    <a href="http://github.com/chetan51/ni">
                        Ni
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        A minimalistic Node module / framework that makes setting up an MVC project a walk in the park.
                    </span>
                </div>
        </ul>

        <div class="text-align-center">
            <h3>Works In Progress</h3>
        </div>
        <ul>
            <li>
                <div class="listing-item-title">
                    <a href="http://dojoverb.com">
                      DojoVerb
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                      Do missions in real life to level up online.
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                    <a href="http://timebend.me">
                      TimeBend
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                      Today, do everything and more. A time-management app.
                      <br>
                      (Redesign of Checkpoint Timer)
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                  Pushpourri
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                      Always have something interesting in your iOS Notification Center.
                    </span>
                </div>
        </ul>

        <div class="text-align-center">
            <h3>Deprecated</h3>
        </div>
        <ul>
            <li>
                <div class="listing-item-title">
                    <a href="http://lifehacker.com/5372083/pollux-automatically-cleans-and-tags-your-itunes-library">
                        Pollux
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        An automatic music organization and tagging software.
                    </span>
                </div>
            </li>
        </ul>
    </div>

{% endblock %}
