{% extends "skeleton/_base.html"%}

{%hyde
    title: Projects
%}

{% block content %}

    <div class="section-listing">
        <div class="text-align-center">
            <h3>Out In The Wild</h3>
        </div>
        <ul>
            <li>
                <div class="listing-item-title">
                    <a href="http://othermind.me/">
                        OtherMind
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        The fastest way to take notes and make lists
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                    <a href="http://timeslot.me/">
                        Timeslot
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        Planning your day, hour by hour, is now a breeze
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                    <a href="sidestep">
                        Sidestep
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        Automatically secure your Internet connection in unprotected wireless networks
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                    <a href="http://chetan51.github.com/panels/hacker/">
                        Hacker Panel & Reddit Panel
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        Bookmarklets to pull up or start the Hacker News or Reddit discussions for any web page
                    </span>
                </div>
            </li>
            <li>
                <div class="listing-item-title">
                    <a href="http://github.com/chetan51/ni">
                        Ni
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        A minimalistic Node module / framework that makes setting up an MVC project a walk in the park
                    </span>
                </div>
        </ul>

        <div class="text-align-center">
            <h3>Works In Progress</h3>
        </div>
        <ul>
            <li>
                <div class="listing-item-title">
                    NewsTile
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        Bringing all the media content you care about to one place
                    </span>
                </div>
            </li>
        </ul>

        <div class="text-align-center">
            <h3>Deprecated</h3>
        </div>
        <ul>
            <li>
                <div class="listing-item-title">
                    <a href="http://lifehacker.com/5372083/pollux-automatically-cleans-and-tags-your-itunes-library">
                        Pollux
                    </a>
                </div>
                <div class="listing-item-snippet">
                    <span class="snippet">
                        An automatic music organization and tagging software
                    </span>
                </div>
            </li>
        </ul>
    </div>

    <hr>

{% endblock %}
