{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}

<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

	<!-- Meta tags -->
	<meta name="author" content="{{ site.author }}">

	{% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
	<meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
	{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Links -->
	<link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
	<link rel="canonical" href="{{ canonical }}">

	<!-- Fonts -->
	<link rel="stylesheet" href="{{ root_url }}/stylesheets/fonts/Quicksand/stylesheet.css" type="text/css" media="screen, projection" />
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href="{{ root_url }}/stylesheets/symbols/ss-social-regular.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

	<!-- Styling -->
	<link href="{{ root_url }}/favicon.png" rel="shortcut icon">
	<link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">

	<!-- Scripts -->
	{% include disqus.html %}
	{% include google_analytics.html %}
	{% include mathjax.html %}
</head>
<body>
	<div id="me" class="header dark{% if page.index != true %} small{% endif %}">
		<div class="content">
			<h1><a href="{{ root_url }}/">{% if page.index != true %}&larr; {% endif %}Chetan Surpur</a></h1>
			<ul>
				<li><a href="https://twitter.com/chetan51"><span class="ss-twitter"></span><span class="text">Twitter</span></a></li>
				<li><a href="http://www.linkedin.com/in/chetan51/"><span class="ss-linkedin"></span><span class="text">LinkedIn</span></a></li>
				<li><a href="http://www.google.com/recaptcha/mailhide/d?k=01A-_FCcB3jCTN6-D9beq73g==&amp;c=QUnaM8NiTANuw9ydVK8MXa7Di209vCEq6jOVZLr7vf4=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k=01A-_FCcB3jCTN6-D9beq73g==&amp;c=QUnaM8NiTANuw9ydVK8MXa7Di209vCEq6jOVZLr7vf4=', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"><span class="ss-mail"></span><span class="text">Email</span></a></li>
				<li><a href="{{ root_url }}/pdf/resume.pdf"><img src="{{ root_url }}/stylesheets/symbols/paper.png"><span class="text">Resume</span></a></li>
				<li><a href="http://feeds.feedburner.com/TheBlogOfChetanSurpur"><span class="ss-rss"></span><span class="text">Feed</span></a></li>
				<li><a href="https://kippt.com/chetan51"><span class="ss-link"></span><span class="text">Links</span></a></li>
			<ul>
		</div>
	</div>

	{{ content | expand_urls: root_url }}

	{% if page.quote_text %}
	<div id="quote" class="light">
		<div class="content">
			<div class="quote">
				<span class="mark left">&ldquo;</span>
				<span class="text">{{ page.quote_text }}</span>
				<span class="author">{{ page.quote_author }}</span>
				<span class="mark right">&rdquo;</span>
			</div>
		</div>
	</div>
	{% endif %}
</body>
</html>