{% extends "skeleton/_body.html" %}

{% block content_body %}

<div id="post-content">
	{% filter typogrify %}

	{% markdown %}

	{% block article %}
	{% endblock %}
		
	{% endmarkdown %}

	{% endfilter %}
</div>

{% endblock %}

{% block content_header %}

<div id="content-header">
    <div id="post-title">
        <h1>{{ page.title }}</h1>
    </div>
    <div id="post-date">
        {{ page.created|date:"l, F j, Y"}}
    </div>
</div>

{% endblock %}

{% block promote_me %}

<div id="follow-me">
	<div id="follow-me-text">
		<p>
			You know you want to.
		</p>
	</div>
	<div id="follow-me-button">
		<a href="https://twitter.com/chetan51" class="twitter-follow-button" data-show-count="false">Follow @chetan51</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>

<div id="share-the-love">
    <div id="share-the-love-text">
        <p>
            Do you like what you see? Share the love.
        </p>
    </div>
    <div id="share-buttons">
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
			<a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
			<a class="addthis_button_tweet" tw:count="vertical"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4db60c1b02b6be95"></script>
    </div>
</div>

{% endblock %}

{% block disqus %}

<!-- Disqus comment count code -->

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_identifier = "{{ page.title }}";

  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://chetansurpur.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=chetansurpur">comments powered by Disqus.</a></noscript>

<!-- End Disqus comment count code -->

<hr>

{% endblock %}

{% block disqus_comment_code %}

<script type="text/javascript">
var disqus_shortname = 'chetansurpur';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/chetansurpur/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

{% endblock %}