{% extends "skeleton/_body.html" %}

{% block content_body %}

<div id="post-content">
	{% filter typogrify %}

	{% markdown %}

	{% block article %}
	{% endblock %}
		
	{% endmarkdown %}

	{% endfilter %}
</div>

{% endblock %}

{% block content_header %}

<div id="content-header">
    <div id="post-title">
        <h1>{{ page.title }}</h1>
    </div>
    <div id="post-date">
        {{ page.created|date:"l, F j Y"}}
    </div>
</div>

{% endblock %}

{% block context_nav %}
{% include "skeleton/_context_nav.html" %}
{% endblock %}

{% block disqus %}

<hr>

<!-- Disqus comment count code -->

<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
   */
    var disqus_developer = true;    

  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://chetansurpur.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=chetansurpur">comments powered by Disqus.</a></noscript>

<!-- End Disqus comment count code -->

{% endblock %}

{% block disqus_comment_code %}

<script type="text/javascript">
var disqus_shortname = 'chetansurpur';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/chetansurpur/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

{% endblock %}