{% extends "skeleton/_body.html" %}

{% block content_body %}

<div id="post-content">
	{% filter typogrify %}

	{% markdown %}

	{% block article %}
	{% endblock %}
		
	{% endmarkdown %}

	{% endfilter %}
</div>

{% endblock %}

{% block content_header %}

<div id="content-header">
    <div id="post-title">
        <h1>{{ page.title }}</h1>
    </div>
    <div id="post-date">
        {{ page.created|date:"l, F j, Y"}}
    </div>
</div>

{% endblock %}

{% block context_nav %}
{% include "skeleton/_context_nav.html" %}
{% endblock %}

{% block promote_me %}

<hr>

<div id="follow-me">
    <p>
        You should follow me on Twitter <a href="http://twitter.com/chetan51">here</a>.
    </p>
</div>

<div id="share-the-love">
    <div id="share-the-love-text">
        <p>
            Do you like what you see? Share the love.
        </p>
    </div>
    <div id="share-buttons">
        <div id="twitter-button">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ page.full_url }}" data-count="horizontal" data-via="chetan51">Tweet</a>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>
        <div id="facebook-button">
            <iframe src="http://www.facebook.com/plugins/like.php?href={{ page.full_url }}&amp;layout=button_count&amp;show_faces=true&amp;width=90&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
        </div>
    </div>
</div>

{% endblock %}

{% block disqus %}

<hr>

<!-- Disqus comment count code -->

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_identifier = "{{ page.title }}";

  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://chetansurpur.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=chetansurpur">comments powered by Disqus.</a></noscript>

<!-- End Disqus comment count code -->

{% endblock %}

{% block disqus_comment_code %}

<script type="text/javascript">
var disqus_shortname = 'chetansurpur';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/chetansurpur/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

{% endblock %}