#post {
    h1 {
        font-size: 1.75em;
        line-height: 1em;

        &.title {
            font-size: 2.5em;
            margin-top: 30px;
        }
    }

    .content {
        padding-top: 0;

        img {
            display: block;
            margin: auto;
        }
    }

    .subtitle {
        margin-top: -25px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: normal;
        color: #444;
    }
}

#disqus_thread {
	padding-top: 30px;

    a {
        color: #eee;

        &:visited {
            color: #ccc;
        }
    }
}

.preview {
    text-align: center;
    color: #6B0103;

    h1 {
        font-family: 'Roboto Condensed' sans-serif;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: bold;
    }

    font-size: 15px;
    padding-bottom: 2em;
    border-bottom: 2px solid #eee;
}

.full-pane {
	text-align: center;
}

.image-and-caption {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;

    em {
    	font-size: 80%;
    }
}

.image-and-caption img, 
.image-and-cation div
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
}

.stack {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

    em {
    	font-size: 80%;
    }
}

.stack div {
    display: block;
}

.button {
	display:inline-block;
	width:193px;
	height:40px;
	line-height:40px;
	padding:0 0 0 0;
	text-align:center;
	border-radius: 3px;

	background-color: #222;
	color:#fff;

	font-size:20px;
	font-family: 'Open Sans', sans-serif;
}

.download-button {
}

.follow {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;

    .tease {
        margin-left: 5px;
        font-size: 90%;
    }
}

/*****************************************************************************/
/*
/* Small screens
/*
/*****************************************************************************/

@media all and (max-width: 800px) {

  #post {
    .subtitle {
        margin-top: -18px;
    }
  }

  .preview {
    font-size: 13px;
  }

}
