html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #2A2A2A;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 26px;
}

p {
  margin: 1em 0;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed #333;
}

h1 {
  line-height: 140%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

a:visited {
  color: #777;
}

section {
  font-family: 'Lora', serif;
}

hr {
  border-style: dashed;
  border-color: #ccc;
}

.light, .dark {
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
  }
}

.dark {
  background-color: #2A2A2A;
  color: #E1E1E1;
}

#me {
  text-align: center;
  color: #eee;
  margin: 0;

  .content {
    padding: 10px;

    h1 {
      font-family: 'Bitter', serif;
      font-size: 72px;
      letter-spacing: 0;
      line-height: 72px;
      text-transform: uppercase;
      margin: 10px 0 5px 0;
      padding: 0;
    }

    a {
      color: #EEE;
      border-bottom: 0;

      &:hover {
        text-shadow: #999 0px 0px 10px;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        font-family: 'QuicksandLight', Arial, sans-serif;
        font-size: 20px;
        text-transform: lowercase;
        letter-spacing: -1px;
        margin-left: 10px;
        -webkit-font-smoothing: antialiased;

        img {
          height: 20px;
        }

        .text {
          margin-left: 5px;
          font-size: 22px;
          vertical-align: top;
        }

        &.bold {
          font-family: 'QuicksandBook', Arial, sans-serif;
          font-weight: bold;
        }
      }
    }
  }

  &.small {
    text-align: left;

    h1 {
      display: inline;
      font-size: 24px;
      line-height: 24px;
      margin: 0;
    }

    ul {
      display: inline;
      margin-left: 5px;

      li {
        display: inline;
        font-size: 16px;
        line-height: 16px;
        margin-left: 3px;

        .text {
          display: none;
        }

        img {
          height: 16px;
        }
      }
    }
  }
}

#quote {
  .content {
    padding-top: 20px;
    font-family: 'Dancing Script', cursive;

    .quote {
      position: relative;
      display: table;
      margin: auto;
      font-size: 16px;
      color: #777;

      .mark {
        position: absolute;
        top: 30px;
        font-family: 'Georgia', serif;
        font-size: 72px;
        color: #D1D1D1;

        &.left {
          left: -60px;
        }
        &.right {
          right: -60px;
        }
      }
    }

    .author {
      display: block;
      text-align: right;
      font-size: 14px;
      font-style: italic;
      color: #888;
    }
  }
}

/*****************************************************************************/
/*
/* Small screens
/*
/*****************************************************************************/

@media all and (max-width: 800px) {

  body {
    font-size: 85%;
  }

  section {
    font-size: 110%;
  }

  #me {
    .content {
      h1 {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 5px;
      }

      ul li {
        display: inline;
        font-size: 14px;
        line-height: 14px;
        margin-left: 3px;

        img {
          height: 14px;
        }

        .text {
          display: none;
        }
      }
    }

    &.small {
      .content {
        padding: 6px;
        
        h1 {
          font-size: 18px;
          line-height: 18px;
        }

        ul li {
          font-size: 12px;
          line-height: 12px;

          img {
            height: 12px;
          }
        }
      }
    }
  }

  #quote {
    .quote {
      width: 200px;
    }
  }

}