html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #2A2A2A;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

p {
  margin: 1em 0;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed #333;
}

a:visited {
  color: #555;
}

section {
  font-family: 'Headland One', serif;
}

hr {
  border-style: dashed;
  border-color: #ccc;
}

.light, .dark {
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
  }
}

.dark {
  background-color: #2A2A2A;
  color: #E1E1E1;
}

#me {
  text-align: center;
  color: #eee;
  margin: 0;

  .content {
    padding: 10px;

    h1 {
      font-family: 'Bitter', serif;
      font-size: 72px;
      letter-spacing: 0;
      line-height: 72px;
      text-transform: uppercase;
      margin: 10px 0 5px 0;
      padding: 0;
    }

    a {
      color: #EEE;

      &:hover {
        text-shadow: #999 0px 0px 10px;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        font-family: 'QuicksandLight', Arial, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin-left: 3px;
        -webkit-font-smoothing: antialiased;

        &.bold {
          font-family: 'QuicksandBook', Arial, sans-serif;
          font-weight: bold;
        }
      }
    }
  }

  &.small {
    text-align: left;

    h1 {
      display: inline;
      font-size: 24px;
      line-height: 24px;
      margin: 0;
    }

    ul {
      display: none;
    }
  }
}

/*****************************************************************************/
/*
/* Small screens
/*
/*****************************************************************************/

@media all and (max-width: 800px) {

  body {
    font-size: 85%;
  }

  #me {
    .content {
      h1 {
        font-size: 42px;
        line-height: 42px;
      }

      ul li {
        display: inline;
        font-size: 16px;
      }
    }

    &.small {
      .content {
        padding: 6px;
        
        h1 {
          font-size: 18px;
          line-height: 18px;
        }
        ul {
          display: none;
        }
      }
    }
  }

}